/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";

/* header definitions */

.reveal .slides section.present:before{
    content:'';
    border-top:14px solid #B90F22;
    top: 2px;
    position: absolute;
    height: 2px;
    border-bottom:2px solid black;
    width: 100%;
}
section h1,section h2{
    border-bottom: 2px solid black !important;
    padding:12px 250px 12px 0px !important;
}
.reveal .slides section.present{
    position:relative;
    text-align: left !important;
    background:url('tud_logo.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: 100% 12px;
}
.footer{
    position:fixed;
    bottom:15px;
    left:15px;
    font-size:12px;
    opacity:0.5;
}
