/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";

/* header definitions */
.reveal{
    width: 98%;
    border-top:14px solid #B90F22;
    position:relative;
    margin: 14px auto 0 auto;
}
.reveal:after{
    top: 2px;
    position: absolute;
    height: 2px;
    background-color:black;
    width: 100%;
}
section h1{
    border-bottom: 2px solid black !important;
}